**PART 1 - Digital content management**

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
import pandas as pd

df = pd.read_csv('/content/drive/My Drive/blogtext.csv')

In [5]:
df.head()

        id  ...                                               text
0  2059027  ...             Info has been found (+/- 100 pages,...
1  2059027  ...             These are the team members:   Drewe...
2  2059027  ...             In het kader van kernfusie op aarde...
3  2059027  ...                   testing!!!  testing!!!
4  3581210  ...               Thanks to Yahoo!'s Toolbar I can ...

[5 rows x 7 columns]

In [6]:
#using just 2000 samples as system kept crashing while training the classifier due to RAM issues
df = df.head(2000)

In [7]:
# convert to lowercase
df.text = df.text.apply(lambda x: x.lower())

In [8]:
# remove stopwords
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
stopwords = set(stopwords.words('english'))
df.text = df.text.apply(lambda x: ' '.join([text for text in x.split() if text not in stopwords]))

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [9]:
# create lable column according to problem statement
df['labels'] = df.apply(lambda row: [row['gender'], str(row['age']), row['topic'], row['sign']], axis=1)

In [10]:
df.head()

        id  ...                                   labels
0  2059027  ...                 [male, 15, Student, Leo]
1  2059027  ...                 [male, 15, Student, Leo]
2  2059027  ...                 [male, 15, Student, Leo]
3  2059027  ...                 [male, 15, Student, Leo]
4  3581210  ...  [male, 33, InvestmentBanking, Aquarius]

[5 rows x 8 columns]

In [11]:
df = df[['text','labels']]

In [12]:
df.head()

                                                text                                   labels
0  info found (+/- 100 pages, 4.5 mb .pdf files) ...                 [male, 15, Student, Leo]
1  team members: drewes van der laag urllink mail...                 [male, 15, Student, Leo]
2  het kader van kernfusie op aarde: maak je eige...                 [male, 15, Student, Leo]
3                              testing!!! testing!!!                 [male, 15, Student, Leo]
4  thanks yahoo!'s toolbar 'capture' urls popups....  [male, 33, InvestmentBanking, Aquarius]

In [13]:
#split into test and train
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.text.values, df.labels.values, test_size=0.20, random_state=42)

In [14]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer(binary=True, ngram_range=(1, 2))
X_train_words = vectorizer.fit_transform(X_train)
X_test_words = vectorizer.transform(X_test)

In [15]:
X_train_words.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [1, 1, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [16]:
label_counts = dict()

for labels in df.labels.values:
    for label in labels:
        if label in label_counts:
            label_counts[label] += 1
        else:
            label_counts[label] = 1

In [17]:
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer(classes=sorted(label_counts.keys()))
y_train = mlb.fit_transform(y_train)
y_test = mlb.transform(y_test)

In [18]:
from sklearn.multiclass import OneVsRestClassifier
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(solver='lbfgs')
clf = OneVsRestClassifier(clf)

In [19]:
clf.fit(X_train_words, y_train)

OneVsRestClassifier(estimator=LogisticRegression(C=1.0, class_weight=None,
                                                 dual=False, fit_intercept=True,
                                                 intercept_scaling=1,
                                                 l1_ratio=None, max_iter=100,
                                                 multi_class='auto',
                                                 n_jobs=None, penalty='l2',
                                                 random_state=None,
                                                 solver='lbfgs', tol=0.0001,
                                                 verbose=0, warm_start=False),
                    n_jobs=None)

In [20]:
predicted_labels = clf.predict(X_test_words)
predicted_scores = clf.decision_function(X_test_words)

In [21]:
predicted_labels

array([[0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 1, 0, ..., 1, 1, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 1, 1, 0]])

In [22]:
#inverse transform
pred_inversed = mlb.inverse_transform(predicted_labels)
y_test_inversed = mlb.inverse_transform(y_test)

In [23]:
pred_inversed

[('35', 'Aries', 'Technology', 'male'),
 ('male',),
 ('15', 'female', 'indUnk'),
 ('male',),
 ('male',),
 ('35', 'Aries', 'Technology', 'male'),
 ('male',),
 ('male',),
 ('Aquarius', 'InvestmentBanking', 'female'),
 ('female',),
 ('33', 'Aquarius', 'InvestmentBanking', 'male'),
 ('male',),
 ('15', 'Libra', 'Student', 'female'),
 ('24', 'male'),
 ('female',),
 ('female', 'indUnk'),
 ('male',),
 ('Aries', 'female'),
 ('35', 'Aries', 'Technology', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('male',),
 ('35', 'Aries', 'Technology', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('15', 'Libra', 'Student', 'female'),
 ('male',),
 ('male',),
 ('female', 'indUnk'),
 ('male',),
 ('male',),
 ('male',),
 ('male',),
 ('male',),
 ('male',),
 ('35', 'Aries', 'Technology', 'male'),
 ('male',),
 ('male',),
 ('Aries', 'female'),
 ('male',),
 ('15', 'Libra', 'Student', 'female'),
 ('male',),
 ('Student', 'female'),
 ('male',),
 ('male',),
 ('Aries', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('17', 'male'),
 ('Aries', 'male'),
 ('male',),
 ('33', 'Aquarius', 'InvestmentBanking', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('female',),
 ('17', 'Capricorn', 'Sports-Recreation', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('female',),
 ('female',),
 ('35', 'Aries', 'Technology', 'male'),
 ('Libra', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('male',),
 ('male',),
 ('35', 'Aries', 'Technology', 'male'),
 ('female',),
 ('35', 'Aries', 'Technology', 'male'),
 ('Aries', 'Student', 'female'),
 ('35', 'Aries', 'Technology', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('male',),
 ('35', 'Aries', 'Technology', 'male'),
 ('24', 'BusinessServices', 'Cancer', 'male'),
 ('24', 'Scorpio', 'female', 'indUnk'),
 ('35', 'Aries', 'Technology', 'male'),
 ('male',),
 ('male',),
 ('35', 'Aries', 'Technology', 'male'),
 ('Aquarius', 'male'),
 ('male',),
 ('35', 'Aries', 'Technology', 'male'),
 ('male',),
 ('35', 'Aries', 'Technology', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('Aquarius', 'Libra', 'female'),
 ('male',),
 ('35', 'Aries', 'Technology', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('female', 'indUnk'),
 ('24', 'Scorpio', 'female', 'indUnk'),
 ('35', 'Aries', 'Technology', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('male',),
 ('35', 'Aries', 'Technology', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('17', 'Capricorn', 'male'),
 ('male',),
 ('female',),
 ('female',),
 ('male',),
 ('17', 'Student', 'male'),
 ('Libra', 'female', 'indUnk'),
 ('Aries', 'male'),
 ('male',),
 ('female',),
 ('male',),
 ('35', 'Aries', 'Technology', 'male'),
 ('Student', 'female'),
 ('35', 'Aries', 'Technology', 'male'),
 ('male',),
 ('24', 'Scorpio', 'female', 'indUnk'),
 ('15', 'Libra', 'Student', 'female'),
 ('male',),
 ('female', 'indUnk'),
 ('35', 'Aries', 'Technology', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('15', 'Student', 'female'),
 ('Libra', 'female'),
 ('male',),
 ('35', 'Aries', 'Technology', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('male',),
 ('17', 'Capricorn', 'Sports-Recreation', 'male'),
 ('male',),
 ('24', 'Scorpio', 'female', 'indUnk'),
 ('35', 'Aries', 'Technology', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('male',),
 ('Student', 'female'),
 ('male',),
 ('35', 'Aries', 'Technology', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('male',),
 ('35', 'Aries', 'Technology', 'male'),
 ('male',),
 ('male',),
 ('35', 'Aries', 'Technology', 'male'),
 ('male',),
 ('35', 'Aries', 'Technology', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('Engineering', 'Libra', 'male'),
 ('male',),
 ('35', 'Aries', 'Technology', 'male'),
 ('Aries', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('male',),
 ('male',),
 ('male',),
 ('male',),
 ('male',),
 ('27', 'Aquarius', 'Education', 'female'),
 ('35', 'Aries', 'Technology', 'male'),
 ('Aries', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('24', 'Libra', 'female'),
 ('male',),
 ('Student', 'female'),
 ('35', 'Aries', 'Technology', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('15', 'Aquarius', 'Student', 'female'),
 ('female',),
 ('35', 'Aries', 'Technology', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('24', 'Libra', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('24', 'female', 'indUnk'),
 ('Aries', 'female', 'indUnk'),
 ('male',),
 ('Student', 'male'),
 ('male',),
 ('35', 'Aries', 'Technology', 'male'),
 ('male',),
 ('female',),
 ('35', 'Aries', 'Technology', 'male'),
 ('male',),
 ('Student', 'female'),
 ('male',),
 ('35', 'Aries', 'Technology', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('male',),
 ('female',),
 ('male',),
 ('female',),
 ('35', 'Aries', 'Technology', 'male'),
 ('Aquarius', 'Student', 'male'),
 ('33', 'Aquarius', 'InvestmentBanking', 'male'),
 ('Scorpio', 'female', 'indUnk'),
 ('male',),
 ('17', 'Capricorn', 'Sports-Recreation', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('24', 'female'),
 ('Aries', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('Student', 'female'),
 ('15', 'Libra', 'Student', 'female'),
 ('female',),
 ('35', 'Aries', 'Technology', 'male'),
 ('33', 'Aquarius', 'InvestmentBanking', 'male'),
 ('female',),
 ('Aquarius', 'female'),
 ('15', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('15', 'Libra', 'Student', 'female'),
 ('24', 'Scorpio', 'female', 'indUnk'),
 ('female',),
 ('15', 'Aquarius', 'Student', 'female'),
 ('male',),
 ('35', 'Aries', 'Technology', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('15', 'Libra', 'Student', 'female'),
 ('35', 'Aries', 'Technology', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('male',),
 ('female',),
 ('35', 'Aries', 'Technology', 'male'),
 ('male',),
 ('35', 'Aries', 'Technology', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('Aries', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('female',),
 ('Student', 'female'),
 ('17', 'Capricorn', 'Sports-Recreation', 'male'),
 ('male',),
 ('male',),
 ('male',),
 ('35', 'Aries', 'Technology', 'male'),
 ('female',),
 ('17', 'male'),
 ('male',),
 ('17', 'Aries', 'Student', 'female'),
 ('Aries', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('male',),
 ('male',),
 ('female',),
 ('24', 'Scorpio', 'female', 'indUnk'),
 ('female',),
 ('female',),
 ('35', 'Aries', 'Technology', 'male'),
 ('15', 'Libra', 'Student', 'male'),
 ('male',),
 ('male',),
 ('male',),
 ('female',),
 ('female',),
 ('35', 'Aries', 'Technology', 'male'),
 ('male',),
 ('35', 'Aries', 'Technology', 'male'),
 ('Student', 'female'),
 ('35', 'Aries', 'Technology', 'male'),
 ('24', 'Scorpio', 'female'),
 ('35', 'Technology', 'male'),
 ('female',),
 ('15', 'Libra', 'Student', 'female'),
 ('female',),
 ('female',),
 ('male',),
 ('35', 'Aries', 'Technology', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('24', 'Engineering', 'Libra', 'male'),
 ('male',),
 ('male',),
 ('Aquarius', 'Student', 'female'),
 ('35', 'Aries', 'Technology', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('Libra', 'male'),
 ('female',),
 ('male',),
 ('Aquarius', 'male'),
 ('male',),
 ('35', 'Aries', 'Technology', 'male'),
 ('33', 'Aquarius', 'InvestmentBanking', 'male'),
 ('male',),
 ('Student', 'female'),
 ('35', 'Aries', 'Technology', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('Libra', 'male'),
 ('Aries', 'male'),
 ('33', 'Aquarius', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('Aries', 'male'),
 ('male',),
 ('24', 'Engineering', 'Libra', 'male'),
 ('Aries', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('indUnk', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('Libra', 'female'),
 ('15', 'male'),
 ('Scorpio', 'Student', 'male'),
 ('male',),
 ('15', 'Libra', 'Student', 'female'),
 ('35', 'Aries', 'Technology', 'male'),
 ('female',),
 ('male',),
 ('15', 'Libra', 'Student', 'female'),
 ('female',),
 ('35', 'Aries', 'Technology', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('Aquarius', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('male',),
 ('female',),
 ('male',),
 ('female',),
 ('35', 'Aries', 'Technology', 'male'),
 ('male',),
 ('35', 'Aries', 'Technology', 'male'),
 ('24', 'BusinessServices', 'Cancer', 'male'),
 ('male',),
 ('Libra', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('male',),
 ('male',),
 ('male',),
 ('male',),
 ('female',),
 ('Libra', 'Student', 'female'),
 ('male',),
 ('35', 'Aries', 'Technology', 'male'),
 ('24', 'female'),
 ('male',),
 ('Aries', 'male'),
 ('male',),
 ('male',),
 ('24', 'female'),
 ('35', 'Aries', 'Technology', 'male'),
 ('male',),
 ('35', 'Aries', 'Technology', 'male'),
 ('male',),
 ('male',),
 ('male',),
 ('35', 'Aries', 'Technology', 'male'),
 ('17', 'Student', 'female'),
 ('35', 'Aries', 'Technology', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('Aries', 'male'),
 ('male',),
 ('15', 'Libra', 'Student', 'female'),
 ('male',),
 ('female', 'indUnk'),
 ('Student', 'female'),
 ('female',),
 ('male',),
 ('24', 'Scorpio', 'female', 'indUnk'),
 ('Aries', 'male'),
 ('24', 'Scorpio', 'female', 'indUnk'),
 ('male',),
 ('indUnk', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('33', 'Aquarius', 'InvestmentBanking', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('male',),
 ('male',),
 ('35', 'Aries', 'Technology', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('Aries', 'male'),
 ('male',),
 ('male',),
 ('female',),
 ('35', 'Aries', 'Technology', 'male'),
 ('24', 'BusinessServices', 'Cancer', 'male'),
 ('Aquarius', 'female', 'indUnk'),
 ('male',),
 ('Aries', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('24', 'indUnk', 'male'),
 ('female',),
 ('female',),
 ('male',),
 ('35', 'Aries', 'Technology', 'male'),
 ('35', 'Aries', 'Technology', 'male'),
 ('male',),
 ('female', 'indUnk')]

**PART 2 - Customer Support**

In [24]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [25]:
import nltk
from nltk.stem import WordNetLemmatizer
nltk.download('popular', quiet=True)

True

In [27]:
#read corpus
import json

with open('/content/drive/My Drive/GL Bot.json') as file:
    Corpus = json.load(file)

print(Corpus)

{'intents': [{'tag': 'Intro', 'patterns': ['hi', 'how are you', 'is anyone there', 'hello', 'whats up', 'hey', 'yo', 'listen', 'please help me', 'i am learner from', 'i belong to', 'aiml batch', 'aifl batch', 'i am from', 'my pm is', 'blended', 'online', 'i am from', 'hey ya', 'talking to you for first time'], 'responses': ['Hello! how can i help you ?'], 'context_set': ''}, {'tag': 'Exit', 'patterns': ['thank you', 'thanks', 'cya', 'see you', 'later', 'see you later', 'goodbye', 'i am leaving', 'have a Good day', 'you helped me', 'thanks a lot', 'thanks a ton', 'you are the best', 'great help', 'too good', 'you are a good learning buddy'], 'responses': ['I hope I was able to assist you, Good Bye'], 'context_set': ''}, {'tag': 'Olympus', 'patterns': ['olympus', 'explain me how olympus works', 'I am not able to understand olympus', 'olympus window not working', 'no access to olympus', 'unable to see link in olympus', 'no link visible on olympus', 'whom to contact for olympus', 'lot of problem with olympus', 'olypus is not a good tool', 'lot of problems with olympus', 'how to use olympus', 'teach me olympus'], 'responses': ['Link: Olympus wiki'], 'context_set': ''}, {'tag': 'SL', 'patterns': ['i am not able to understand svm', 'explain me how machine learning works', 'i am not able to understand naive bayes', 'i am not able to understand logistic regression', 'i am not able to understand ensemble techb=niques', 'i am not able to understand knn', 'i am not able to understand knn imputer', 'i am not able to understand cross validation', 'i am not able to understand boosting', 'i am not able to understand random forest', 'i am not able to understand ada boosting', 'i am not able to understand gradient boosting', 'machine learning', 'ML', 'SL', 'supervised learning', 'knn', 'logistic regression', 'regression', 'classification', 'naive bayes', 'nb', 'ensemble techniques', 'bagging', 'boosting', 'ada boosting', 'ada', 'gradient boosting', 'hyper parameters'], 'responses': ['Link: Machine Learning wiki '], 'context_set': ''}, {'tag': 'NN', 'patterns': ['what is deep learning', 'unable to understand deep learning', 'explain me how deep learning works', 'i am not able to understand deep learning', 'not able to understand neural nets', 'very diffult to understand neural nets', 'unable to understand neural nets', 'ann', 'artificial intelligence', 'artificial neural networks', 'weights', 'activation function', 'hidden layers', 'softmax', 'sigmoid', 'relu', 'otimizer', 'forward propagation', 'backward propagation', 'epochs', 'epoch', 'what is an epoch', 'adam', 'sgd'], 'responses': ['Link: Neural Nets wiki'], 'context_set': ''}, {'tag': 'Bot', 'patterns': ['what is your name', 'who are you', 'name please', 'when are your hours of opertions', 'what are your working hours', 'hours of operation', 'working hours', 'hours'], 'responses': ['I am your virtual learning assistant'], 'context_set': ''}, {'tag': 'Profane', 'patterns': ['what the hell', 'bloody stupid bot', 'do you think you are very smart', 'screw you', 'i hate you', 'you are stupid', 'jerk', 'you are a joke', 'useless piece of shit'], 'responses': ['Please use respectful words'], 'context_set': ''}, {'tag': 'Ticket', 'patterns': ['my problem is not solved', 'you did not help me', 'not a good solution', 'bad solution', 'not good solution', 'no help', 'wasted my time', 'useless bot', 'create a ticket'], 'responses': ['Tarnsferring the request to your PM'], 'context_set': ''}]}

In [51]:
# tokenize 
tokens = [] 
labels = [] 
token_words = [] 
token_labels = [] 

for intent in Corpus['intents']:
    for pattern in intent['patterns']:
        w_temp = nltk.word_tokenize(pattern)
        tokens.extend(w_temp)
        token_words.append(w_temp)
        token_labels.append(intent["tag"])
    
    # Add the mising tag if any    
    if intent['tag'] not in labels:
        labels.append(intent['tag'])

In [52]:
labels

['Intro', 'Exit', 'Olympus', 'SL', 'NN', 'Bot', 'Profane', 'Ticket']

In [53]:
from nltk.stem.lancaster import LancasterStemmer
stemmer = LancasterStemmer() 
Train = [] 
Target = []

out_empty = [0 for i in range(len(labels))]

for x, doc in enumerate(token_words):
    bag = []

    w_temp = [stemmer.stem(w.lower()) for w in doc]

    for w in tokens:
        if w in w_temp:
            bag.append(1)
        else:
            bag.append(0)

    output_row = out_empty[:]
    output_row[labels.index(token_labels[x])] = 1

    Train.append(bag) # List
    Target.append(output_row) # List

In [56]:
import numpy as np
Train = np.array(Train)
Target = np.array(Target)

In [57]:
X_train_part2, X_test_part2, y_train_part2, y_test_part2 = train_test_split(Train, Target, test_size=0.25, random_state=10)

In [58]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

model_RF = RandomForestClassifier(n_estimators=50,
                                    criterion='gini',
                                    max_depth=None,
                                    min_samples_split=2,
                                    min_samples_leaf=1,
                                    min_weight_fraction_leaf=0.0,
                                    max_features='auto',
                                    max_leaf_nodes=None,
                                    min_impurity_decrease=0.0,
                                    min_impurity_split=None,
                                    bootstrap=True,
                                    oob_score=False,
                                    n_jobs=None,
                                    random_state=None,
                                    verbose=0,
                                    ccp_alpha=0.0)
model_RF.fit(X_train_part2, y_train_part2)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=50,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [59]:
def bag_of_words(s, words):
    bag = [0 for i in range(len(words))]

    s_words = nltk.word_tokenize(s)
    s_words = [stemmer.stem(word.lower()) for word in s_words]

    for se in s_words:
        for i, w in enumerate(words):
            if w == se:
                bag[i] = 1
            
    return np.array(bag)

In [62]:
def chat():
    print("type: bye to quit")
    while True:
        inp = input("\n\nYou: ")
        if inp.lower()=="*":
            print("BOT: Sorry! I don't understand you.")
        if inp.lower() == "bye":
            break

        results = model_RF.predict([bag_of_words(inp, tokens)])
        results_index = numpy.argmax(results)
        tag = labels[results_index]

        for tg in Corpus["intents"]:
            if tg['tag'] == tag:
                responses = tg['responses']

        print(random.choice(responses))

In [63]:
chat()

type: bye to quit


You: hey
Hello! how can i help you ?


You: olympus
Link: Machine Learning wiki


You: greta learning
Link: Machine Learning wiki


You: bye